.timeLine{
    animation-duration: 3s;
    animation-name: slideIn;
    color:#a36fbd;
  }

@keyframes slideIn {
from {
    margin-left: 100%;
    width: 300%;
}

to {
    margin-left: 0%;
    width: 100%;
}
}
