#timeLine.appear{
    animation-duration: 3s;
    animation: SlideIn 2s;
}

@keyframes SlideIn {
0% {
    opacity: 0;
    transform: translateX(64px);
}
100% {
    opacity: 1;
    transform: translateX(0);
}
}
