.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.wrapper img{
    width: 200px;
    object-fit: contain;
    cursor: pointer;
}





*{
    color:red;
}






